#minesweeper * {
  box-sizing: border-box;
  position: relative;
}
#minesweeper .btn {
  width: 48px;
  height: 48px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
}
#minesweeper .btn:active {
  border-top: 3px solid #777;
  border-left: 3px solid #777;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
#minesweeper .wrapper {
  margin: 0 auto;
  width: fit-content;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background: #ccc;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
  outline: 16px solid #ccc;
}
#minesweeper .wrapper * {
  font-family: monospace;
  font-weight: bold;
}
#minesweeper .board {
  border-top: 3px solid #777;
  border-left: 3px solid #777;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
#minesweeper .settings {
  width: 100%;
  padding: 12px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #777;
  border-left: 3px solid #777;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
#minesweeper .settings .count {
  width: 64px;
  height: 48px;
  font-family: monospace;
  font-size: 24px;
  border-top: 3px solid #777;
  border-left: 3px solid #777;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#minesweeper .settings .btn-group {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#minesweeper .cube {
  width: 32px;
  height: 32px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
}
#minesweeper .cube.opened, #minesweeper .cube:active:not(.flag):not(.end-game) {
  border: 1px solid #aaa;
}