/* 基礎樣式，會優先載入 */
@tailwind base;
/* 自訂元件樣式，可以覆蓋 base */
@tailwind components;
/* 實用工具樣式，通常覆蓋 components 和 base */
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    h1 {
        @apply my-6 text-center text-4xl font-bold;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
