/* 基礎樣式，會優先載入 */
@tailwind base;
/* 自訂元件樣式，可以覆蓋 base */
@tailwind components;
/* 實用工具樣式，通常覆蓋 components 和 base */
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #bf7fff;
    --tertiary: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        /* --primary: #0e7490; */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background: #ebd6ff;
    color: var(--foreground);
}

@layer base {
    .wrapper {
        @apply p-4 xl:p-8;
    }
    .title {
        @apply text-7xl sm:text-9xl mb-12;
    }
    .subtitle {
        @apply text-3xl sm:text-5xl mb-8;
    }
    .game-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }
    .game {
        grid-area: 1 / 1 / span 1 / span 1;
        z-index: 2;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
